.black{
    background-color: black;
    color: white;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 50px;
}
.white{
    background-color: white;
    text-align: center;
    font-size: 50px;
}
table{
    margin: auto;
}